<?xml version="1.0"?>
<!--
  * Copyright (c) 2026 BroSolutions
  * All rights reserved
  *
  * This product includes proprietary software developed at BroSolutions, Ukraine
  * For more information see https://www.brosolutions.net/
  *
  * To obtain a valid license for using this software please contact us at
  * contact@brosolutions.net
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="replacement" xsi:type="array">
                    <item name="class" xsi:type="string">BroSolutions\DiscontinuedProducts\Ui\DataProvider\Product\Form\Modifier\Replacement</item>
                    <item name="sortOrder" xsi:type="number">110</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="BroSolutions\DiscontinuedProducts\Ui\DataProvider\Product\Form\Modifier\Replacement">
        <arguments>
            <argument name="scopeName" xsi:type="string">product_form.product_form</argument>
        </arguments>
    </type>
  </config>
